/* Ejemplo de Div
.divGus {
  height: 250px;
  background-color: purple;
  color: white;
  font-size: 50px;
  margin: 20px;
} */
/* ==========Typed.js========== */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ==========Barra de Navegacion========== */
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* ==========Estilos Generales========== */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  font-family: 'Concert One', cursive;
  font-weight: 900;
  color: #001219;

  /* font-family: 'Rubik Dirt', cursive; */
}

.seccion-oscura {
  background-color: #005f73;
}

.seccion-clara {
  background-color: #edf6f9;
  padding: 10px 0;
}

.texto-blanco {
  color: #edf6f9;
}

.texto-oscuro {
  color: #001219;
}

.texto-medio {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin-bottom: 4rem;
}
.texto-titulo-experiencia {
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #0a9396;
}

.texto-descripcion-experiencia {
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  color: #001219;
}
.seccion-titulo {
  font-size: 2.5rem;
  font-family: 'Concert One', cursive;
  font-weight: 900;
  padding: 15px 0;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #6d6969;
}

.seccion-texto {
  font-size: size 1.2rem;
  font-family: 'Nunito', sans-serif;
  padding: 15px 0;
}

.badge.badge-mio {
  background-color: #0a9396;
}

/* ==========Sección Hero========== */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 2rem;
}

.hero-img-principal {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  padding: 0.5rem;
  color: #615151;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
  float: left;
  text-align: left;
}

.hero-inferior-imagen {
  padding: 0.5rem;
  width: 600px;
  height: 600px;
  margin: 20px;
}

/* ==========Sección Sobre Mí========== */
.sobre-mi {
  height: 300px;
  padding: 2rem;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* ==========Sección Formación========== */
.formacion {
  padding: 2rem;
}

.formacion .columna {
  padding: 20px;
  border: 2px solid #006d77;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.formacion .columna:hover {
  color: #edf6f9;
  background-color: #005f73;
}

.formacion .detalle {
  text-align: left;
  justify-content: space-evenly;
}

.formacion i {
  font-size: 2.5rem;
  color: #edf6f9;
  background-color: #006d77;
  padding: 8px 19px;
  border-radius: 50%;
}
.formacion-titulo {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Concert One', cursive;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 14px;
  margin: 10px 0;
}
.badges {
  margin: 5px;
}

/* ==========Sección Timeline Experiencia========== */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after,
.timeline > li:before {
  display: table;
  content: ' ';
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4,
.timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* ==========Sección Experiencia========== */

.experiencias-recientes {
  padding: 40px;
}

.experiencias-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.experiencias-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.experiencia {
  position: relative;
}

.experiencia:hover img {
  opacity: 0.2;
}

.experiencia:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* ==========Sección Contacto========== */

/* ==========Media Queries========== */
@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

/* Google Fonts
font-family: 'Comfortaa', cursive;
font-family: 'Concert One', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Source Code Pro', monospace; */
